.banner{
    width: 100%;
    margin-bottom: 4rem;
    overflow: hidden;
    z-index: 0;
    max-height: 700px
}
.banner img{
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
    max-height: 700px
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
.caption h2{
    color:#FFC000;
    font-weight: bold;
    font-size: 5rem;
    font-family:'Oswald', Montserrat,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    text-decoration: underline;
}
.caption img{
    width: 45%;
    height: 250px;
}

.caption p {
    color:#000
}


@media screen and (max-width:960px) and (min-width:250px){
    .caption h2{
        font-size: 2rem;
    }
    .caption img{
        width: 45%;
        height: 50px;
    }
}

